@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
.header {
  background-color: rgb(64, 172, 234);
  color: rgb(252, 248, 248);
  font-family: "Tangerine", serif;
  font-size: 48px;
  box-shadow: 0px 0px 15px 30px rgba(241, 100, 30, 0.6);
}
body {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.center {
  text-align: center;
}
.description {
  color: white;
  box-shadow: 20px;
  font-family: "EB Garamond", serif, "Times New Roman", Times;
}
.lyrics-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: rgb(254, 254, 254);
  background-color: rgb(0, 0, 0);
}
@media only screen and (max-width: 600px) {
  .lyrics-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 300px;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
  }
}
.song-tittle {
  color: rgb(64, 172, 234);
  margin-bottom: 5%;
}
.songSearcher-form-container {
  height: 10em;
  position: relative;
}
.songSearcher-form-container form {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.songSearcher-form-container form > input {
  width: 20%;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: aliceblue;
  background-color: black;
}
@media only screen and (max-width: 600px) {
  .songSearcher-form-container form > input {
    width: 30%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: aliceblue;
    background-color: black;
  }
}
HTML CSSResult Skip Results Iframe EDIT ON .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: block;
  width: 100px;
  height: 32.5px;
  line-height: 20px;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(64, 172, 234);
  background: rgba(175, 76, 160, 0.3);
  border: 2px solid rgb(251, 251, 251);
  border-radius: 5%;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
@media only screen and (max-width: 600px) {
  button {
    display: block;
    width: 70px;
    height: 32px;
    line-height: 20px;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(64, 172, 234);
    background: rgba(175, 76, 160, 0.3);
    border: 2px solid rgb(251, 251, 251);
    border-radius: 5%;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }
}
button span {
  position: relative;
  z-index: 2;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ea53c9;
  transition: all 0.35s;
}

button:hover {
  color: #fff;
}

button:hover:after {
  width: 100%;
}
.cover-image {
  margin: 0 auto;
  width: 400px;
  height: 300px;
}
@media only screen and (max-width: 600px) {
  .cover-image {
    width: 200px;
    height: 200px;
  }
}
.artist-name-song {
  color: rgb(64, 172, 234);
}
.pre-paragraph {
  white-space: pre-wrap;
  word-break: break-all;
}
