* {
  margin: 0%;
  padding: 0%;
}
.header {
  background-color: rgb(64, 172, 234);
  color: rgb(252, 248, 248);
}
body {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.center {
  text-align: center;
}
.description {
  color: white;
  box-shadow: 20px;
}
.lyrics-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: rgb(1, 1, 48);
  background-color: white;
}
.song-tittle {
  color: rgb(42, 26, 81);
  margin-bottom: 5%;
}
.songSearcher-form-container {
  height: 10em;
  position: relative;
}
.songSearcher-form-container form {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.songSearcher-form-container form > input {
  width: 20%;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
HTML CSSResult Skip Results Iframe EDIT ON .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: block;
  width: 100px;
  height: 33.5px;
  line-height: 30px;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(64, 172, 234);
  background: rgba(175, 76, 160, 0.3);
  border: 2px solid rgb(251, 251, 251);
  border-radius: 5%;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

button span {
  position: relative;
  z-index: 2;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ea53c9;
  transition: all 0.35s;
}

button:hover {
  color: #fff;
}

button:hover:after {
  width: 100%;
}
